doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        head
            title Error 404 - Página no encontrada
    body(class="bg-gray-200 flex items-center justify-center max-h-screen")
        div(class="text-center")
            h1(class="text-4xl font-bold mb-4") Error 404 - Página no encontrada
            img(src="/img/404.jpg", alt="" class="w-full h-auto object-cover")